.button {
    font-size: 35px;
    color: white;
    background-color:grey;
    display: inline-flex;

} 

h1 {
    text-align: center;
    color: black;
}

h2 {
    text-align: center;
    background-color:lightblue;
    color: black;
}

h3 {
    text-align: center;
}

h4 {
    text-align: center;
}

ol {
    text-align: center;
}

div {
    text-align: center;
}

.img.buildmusclesavetime {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p {
    text-align: center;
    color: black;
    
}

body {
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}